<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add New Car Info</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Add new car info here</h1>
      <a href="/">Home</a>
      <form>
        <fieldset>
          <legend>Car Information</legend>
          <label for="make">Make:</label>
          <input type="text" name="make">
          <br>
          <label for="model">Model:</label>
          <input type="text" name="model">
          <br>
          <label for="color">Color:</label>
          <input type="text" name="color">
        </fieldset>
      </form>
      <button>Add</button>
    </div>
  </body>
</html>
