<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cute Cats</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Cute Cats</h1>
      <a href="/">Home</a>
      <img src="/images/cats/cat_helmet.jpg" alt="Dog wearing a cat as a helmet">
      <img src="/images/cats/scottish_fold.jpg" alt="Scottish Fold cat">
      <img src="/images/cats/kitten.jpg" alt="Adorable kitten">
    </div>
  </body>
</html>
